:root {
    --lightest: #FCE85C;
    --lighter: rgb(107 188 230);
    --darker: rgb(165 239 239);
    --darkest: rgb(2 13 75);
}

.about-me-container {
    display: flex;
    justify-content: center;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-color: var(--lighter);
    border-radius: 10px;
    border-top: 3px solid var(--darker);
    border-left: 3px solid var(--darker);
    border-right: 3px solid var(--darkest);
    border-bottom: 3px solid var(--darkest);
    max-width: 1000px;
}

.avatar > img {
    height: 150px;
    border-radius: 10px;
}

.bio {
    padding-left: 50px;
    font-weight: bold;
    font-size: large;
    color: var(--darkest);
}
