:root {
    --lightest: #FCE85C;
    --lighter: rgb(107 188 230);
    --darker: rgb(165 239 239);
    --darkest: rgb(2 13 75);
}

a {
    text-decoration: none;
    color: var(--darkest);
}

a:visited{
    text-decoration: none;
    color: var(--darkest);
}