header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lighter);
    color: var(--darkest);
    border-bottom: 2px solid var(--darkest);
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  nav > a, nav > h4, h1 {
    margin: 10px;
    padding: 15px;
  }

  nav > a {
    font-weight: bolder;
  }

  nav > a:hover{
    cursor: pointer;
    background-color: var(--darker);
    border-radius: 10px;
  }