* {
  text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lighter);
    color: var(--darkest);
    border-bottom: 2px solid var(--darkest);
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .h4nav, h1 {
    margin: 10px;
    padding: 10px;
  }

  .link {
    color: var(--darkest);
  }

  :visited {
    color: var(--darkest);
  }