:root {
    --lightest: #FCE85C;
    --lighter: rgb(107 188 230);
    --darker: rgb(165 239 239);
    --darkest: rgb(2 13 75);
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contact-me{
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-top: 3px solid var(--darker);
    border-left: 3px solid var(--darker);
    border-right: 3px solid var(--darkest);
    border-bottom: 3px solid var(--darkest);
    height: fit-content;
    text-align: center;
    color: var(--darkest);
}

.contact-me > h3 {
    padding-bottom: 10px;
}

.contact-me > input {
    padding: 5px;
    margin: 10px;
    width: 300px;
}

.contact-me > textarea {
    padding: 5px;
    margin: 10px;
}
