footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lighter);
    color: var(--darkest);
    border-bottom: 2px solid var(--darkest);
    position: fixed;
    bottom: 0;
    width: 100%;
  }

footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}